@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-white text-slate-900 antialiased;
    margin: 0;
  }

  a {
    @apply text-blue-600 transition-colors hover:text-blue-700;
  }
}
